.fromAddUser {
  position: static;
  background: white;
  padding: 35px;
}

.firstName {
  display: flex;
  flex-direction: column;
}

.value {
  display: flex;
}

.email {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-bottom: 50px;
}

.errorEmail {
  color: red;
}

.lastname {
  margin-top: 12px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: white;
  margin-top: 12px;

  width: 340px;
  height: 44px;

  background: #42a6a6;
  border-radius: 4px;
}

.inputField {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.inputFieldError {
  margin-top: 12px;
  display: flex;
  border-color: red;
}

.backButtonWrapper {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.activityItem{
  position: relative;
}
.activityItem:nth-child(5n):after{
  display: none;
}
.activityItem:last-child{
  border-radius: 0 0 3px 0;
}
.activityItem + .activityItem:after{
  position: absolute;
  content: '';
  height: 37px;
  width: 2px;
  background: #C5C5C5;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.activityItem:before{
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  background: #C5C5C5;
  left: 0;
  top: 0;
  transform: translateY(-50%);
}
.activityItem:nth-child(1):before,
.activityItem:nth-child(2):before,
.activityItem:nth-child(3):before,
.activityItem:nth-child(4):before{
  display: none;
}
