.dropdown {
    margin-right: 20px;
    width: 185px;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.dropdown-header {
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 44px;
    background: #ffffff;
    /* Border */

    border: 2px solid #eeeeee;
    box-sizing: border-box;
    border-radius: 4px;
    & > .header-text {
        word-wrap: break-word;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        line-height: 24px;

        color: #b9b9b9;
    }
}

.dropdown-body {
    width: 100%;
    padding: 5px;
    border-top: 1px solid #e5e8ec;
    display: block;
    background-color: white;
    visibility: hidden;
    position: absolute;
    border: 1px solid #ccc;
    // height: 100px;
    height: 200px;
    bottom: -200px;
    overflow-y: auto;
    left: 0;
    z-index: 200;
}

.dropdown-body.open {
    animation: fade 200ms ease-in-out;
    visibility: visible;
}

.dropdown-item {
    padding-left: 20px;
    margin-bottom: 10px;
    position: relative;
    min-height: 30px;

    &:last-child {
        margin-bottom: 0;
    }
    &:hover {
        cursor: pointer;
        background-color: #ccc;
    }
}

.dropdown-item-dot {
    margin-right: 5px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    & > svg {
        color: red;
        font-size: 14px;
    }
    position: absolute;
    left: 0px;
    top: 1px;
}

.dropdown-item-dot.selected {
    opacity: 1;
}

.icon {
    font-size: 18px;
    color: #91a5be;
    transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    & > svg {
        font-size: 21px;
        color: #b9b9b9;
    }
}

.icon.open {
    transform: translateY(0px) rotateX(180deg) rotateY(0deg) rotateZ(0deg);
}

@keyframes fade {
    from {
        opacity: 0;
        visibility: hidden;
        // transform: translateY(-100px);
    }
    to {
        opacity: 1;
        visibility: visible;
        // transform: translateY(0);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        visibility: visible;
        // transform: translateY(0);
        opacity: 1;
        visibility: hidden;
        // transform: translateY(-100px);
    }
    to {
        opacity: 0;
        visibility: hidden;
        // transform: translateY(-100px);
    }
}
